/* Lists of stories */

.stories-list {
  margin: 20px 5px;

  
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;

 
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  /* margin-left: 2em; */
  display: block;
  color: green;
  font-size: 12px;
  font-weight: bold;
}

.story-user {
  display: block;
  color: orange;
  font-size: 12px;
  font-weight: bold;
}

#fav{
font-size: 18px;
font-weight: bold
}

#fav:hover{
  cursor: pointer;
}

#myStory{
  font-size: 18px;
  font-weight: bold;
}
#myStory-delete{
  cursor: pointer;
}

#myStory:hover{
  color: red;
  cursor: pointer;
}

hr {
  display: block;
  margin: 2px 0;
  color: dark gray;
}